<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Pagina new</title>
</head>
<body>
<div class="row">
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
  <tr>
  <td><%= @posts.inspect %></td>
  <td><%@posts.each do |post|%>
	<h2><%=post.title%></h2>
	<p><%=post.comment%></p>
<%end%>
</td>
  </tr>
</table>
</div>
</body>
</html>